header {
    display: block;
    /* position: fixed; */
    height: 8rem;
    width: 100vw;
    padding: 1rem;
    /* background-color: rgb(21, 54, 65); */
    /* background-color: rgb(138, 82,150); */
    /* background-color: rgb(185, 56, 197); */
    /* background-color: rgb(114, 13, 20); */
    background-color: rgb(33, 14, 33);
}

.color-text {
    /* color: rgb(109, 179, 191); */
    color: white;
}

#oferte,
#servicii,
#galerie,
#tarife,
#contact,
#despreNoi {
    display: none;
}

    /* ----------------------- MENIU ORIZONTAL ------------------- */
.menuHorizontally {
    border: 1px solid rgb(21, 54, 65);
}
.menuHorizontally,
 .menuHorizontally a,
 .dropdown-menu, .dropdown-menu a,
  .buttonDropdown,
  .tarifeDropdown {
    /* background-color: rgb(148, 207, 201); */
    background-color: rgb(222, 171, 226);
    /* background-color: rgb(255, 255, 255); */
    color: rgb(21,54,65);
    /* color: rgb(143, 72, 131); */
    border-radius: 5px;
}


.menuHorizontally a:hover,
.dropdown-menu a:hover, 
.tarifeDropdown:hover {
    /* background-color: rgb(71, 153, 183); */
    /* background-color: rgb(197, 127, 204); */
    background-color: rgb(33, 14, 33);
    color: white;
}

    /* ------------------- MENIU DROPDOWN ------------------ */
.menuDropdown {
    display: none;
    float: right;
    position: relative;
    top: 4rem;
}

/* --------------- CONTACT facebook + mali------------------------ */

.facebook {
    color: white;
}

.paddingFacebook {
    padding-right: 0.5rem;
}

.adres {
    color: white;
}

.nrTelephone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


    /* ------------------ ACASA -------------------------- */
.coverAcasa {
    display: table;
    width: 100vw;
    height: 100vh;
}
.profil-card {
    position: relative;
    top: -50px;
    width: 100vw;


    /* background-color: rgba(148, 207, 201, 0.5); */
    /* background-color: rgb(197, 127, 204, 0.5); */
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    color: rgb(21, 54, 65);
    font-size: 2rem;
    text-align: center;
}
.wrapperAcasa {
    height: 100vh;
    width: 100vw;

    background-image: url('cover2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

    display: flex;
}

/* ------------------------ OFERTE -------------------------------------- */

.cardOferte{
    padding-bottom: 2rem;
}
.ofertePage   {
    min-height: 100vh;
    width: 100vw;
    padding-top: 5rem;
}
.dimensiuneCard {
    height: 20rem;
}
.dimensiuneImagine {
    height: 20rem;
}
.ofertaMasaj, .ofertaManichiura {
    padding-top: 5rem;
    text-align: center;
}



    /* --------------------------- SERVICII ---------------------- */

.wrapperServicii {
    min-height: 100vh;
    width: 100vw;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}

/* ---------- Servicii rotate ------------ */

.flip3D{ 
    width:240px; 
    height:200px; 
    float:left; 
}
.flip3D > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
    width:240px; 
    height:200px; 
    border: 0.2rem solid rgb(197, 127, 204);
    border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D > .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
    background: rgb(222, 171, 226); 
    width:240px; 
    height:200px; 
    border: 0.2rem solid rgb(197, 127, 204);
    border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

    /* ----------------- TARIFE -------------------- */

.wrapperTarife {
    min-height: 100vh;
    width: 100vw;
    padding-left: 10rem; 
    padding-right: 10rem;
}

.butonTarifeColor {
    /* background-color: rgb(109, 179, 191); */
    background-color: rgb(197, 127, 204);
    color: rgb(21, 54, 65);
}

.butonTarifeColor:hover {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.listaTarife {
    /* background-color: rgb(148, 207, 201); */
    background-color: rgb(222, 171, 226);
    color: rgb(21, 54, 65);
    font-weight: normal;
}

.styleButonTarife {
    /* background-color: rgb(109, 179, 191); */
    background-color: rgb(197, 127, 204);
    text-align: center;
}

.accordionTarife {
    padding-top: 5rem;
}

.listaTarife .table tr:hover {
    background-color: rgb(197, 127, 204);
}

/* ------------------ CONTACT ---------------------- */

.contactPage {
    /* width: 100vw; */
    min-height: 100vh;
}
.aranjareInPaginaContact {
    max-width: 90vw; 
    min-height: 100vh; 
    padding:5rem;
}
.marimeHarta, .contact{
    border: 2px solid rgb(21, 54, 65);
    height: 27rem;
    width: 28rem;
}

.contact {
    background-color: rgb(222, 171, 226);
    color: rgb(21,54,65);
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.contact p, .contact h2{
    padding-top: 2rem;
}
.formular {
    width: auto;
    height: auto;
}

.butonTrimiteMesaj {
    background-color:rgb(148, 207, 201);
}
.butonTrimiteMesaj:hover {
    background-color: rgb(71, 153, 183);
}

.facebookPaginaContact {
    color: blue;
}
 
/* --------------------galerie foto----------------------- */

.galeriePhoto {
    width: 100vw;
    min-height: 100vh;
    padding-top:5rem;
}

    /* ---------------------------------- Footer -------------------- */
footer {
    /* background-color: rgb(21, 54, 65); */
    background-color: rgb(197, 127, 204);
    /* padding: 5px; */
    bottom: 0px;
    font-size: 1rem;
    text-align: right;
    width: 100vw;
    height: 3rem;
}
footer a {
    position: relative;
    top: 1rem;
    color: rgb(109, 179, 191);
    padding-right: 2rem;
}

/* -----------ecran mai mic------------------ */
@media screen and (max-width: 991px) {
    .menuHorizontally,
    .program,
    .address,
    .cont,
    .adresa,
    .tel {
        display: none;
    }

    .menuDropdown {
        display: block;
    }

    header {
        height: 9rem;
    }

    .noPadding {
        padding: 5px;
    }
    .aranjareRowServicii {
        padding: 0px;
    }
    .accordionTarife {
        padding-top: 0.2rem;
    }
    .wrapperTarife {
        padding: 0px;
    }

    /* ------- Galerie Photo------------ */
    .galeriePhoto, .ofertePage {
        padding-top: 0px;
    }
    .cardOferte {
        padding: 0.5rem;
    }

    .dimensiuneCard, .dimensiuneImagine{
        height: auto;
    }

    .ofertaMasaj, .ofertaManichiura {
        padding-top: 1rem;
        text-align: center;
    }

    .paddingFacebook {
        float: left;
    }

    /* ------ Contact ------ */

    .aranjareInPaginaContact {
        padding: 0px;
        padding-top: 1rem;
    }
    .marimeHarta {
        width: 80vw;
        height: auto;
    }
    .harta {
        padding-top: 2rem;
        padding-left: 2rem;
        
    }

    .wrapperServicii {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 0rem;
    }
    .row .flip3D {
        margin-top: 2rem;
    }
}