header {
    display: block;
    /* position: fixed; */
    height: 8rem;
    width: 100vw;
    padding: 1rem;
    background-color: rgb(21, 54, 65);
}

.color-text {
    /* color: rgb(109, 179, 191); */
    color: white;
}

#oferte,
#servicii,
#galerie,
#tarife,
#contact,
#despreNoi {
    display: none;
}

    /* ----------------------- MENIU ORIZONTAL ------------------- */
.menuHorizontally {
    border: 1px solid rgb(21, 54, 65);
}
.menuHorizontally, .menuHorizontally a, .dropdown-menu, .dropdown-menu a, .buttonDropdown, .tarifeDropdown {
    background-color: rgb(148, 207, 201);
    color: rgb(21,54,65);
    border-radius: 5px;
}

.menuHorizontally a:hover,
.dropdown-menu a:hover, 
.tarifeDropdown:hover {
    background-color: rgb(71, 153, 183);
}

    /* ------------------- MENIU DROPDOWN ------------------ */
.menuDropdown {
    display: none;
    float: right;
    position: relative;
    top: 4rem;
}

/* --------------- CONTACT facebook + mali------------------------ */

.facebook, .email {
    color: white;
    /* background-color:rgb(59,89,152); */
}
.paddingFacebook {
    padding-right: 0.5rem;
}
/* .facebook, .email {
    width: 2rem;
    height: 2rem;
} */

.adres {
    /* color: rgb(109, 179, 191); */
    color: white;
}

.nrTelephone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


    /* ------------------ ACASA -------------------------- */
.coverAcasa {
    display: table;
    width: 100vw;
    height: 100vh;
}
.profil-card {
    position: relative;
    top: -50px;
    width: 100vw;


    background-color: rgba(148, 207, 201, 0.5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    color: rgb(21, 54, 65);
    font-size: 2rem;
    text-align: center;
}
.wrapperAcasa {
    height: 100vh;
    width: 100vw;

    background-image: url('cover2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

    display: flex;
}

/* ------------------------ OFERTE -------------------------------------- */

.cardOferte{
    padding-bottom: 2rem;
}
.ofertePage   {
    min-height: 100vh;
    width: 100vw;
    padding-top: 5rem;
}
.dimensiuneCard {
    height: 20rem;
}
.dimensiuneImagine {
    height: 20rem;
}
.ofertaMasaj, .ofertaManichiura {
    padding-top: 5rem;
    text-align: center;
}



    /* --------------------------- SERVICII ---------------------- */

.wrapperServicii {
    min-height: 100vh;
    width: 100vw;

    /* background-image: url('cover2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center; */
}

.accordionSrevicii {
    padding-top: 5rem;
    text-align: center;
}

.colorServicii {
    color: rgb(21, 54, 65);
}

.colorServicii:hover {
    text-decoration-line: none;
    color: black;
    font-weight: bold;    
}

.descriereServiciu {
    float: right;
}

.fundalTransparent {
    /* background-color: transparent; */
    background-color: hsla(0, 4%, 31%, 0.5);
}

.aranjareRowServicii {
    padding-left: 2rem;
    padding-right: 2rem;
}

    /* ----------------- TARIFE -------------------- */

.wrapperTarife {
    min-height: 100vh;
    width: 100vw;
    padding-left: 10rem; 
    padding-right: 10rem;
}

.butonTarifeColor {
    background-color: rgb(109, 179, 191);
    color: rgb(21, 54, 65);
}

.butonTarifeColor:hover {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.listaTarife {
    background-color: rgb(148, 207, 201);
    color: rgb(21, 54, 65);
    font-weight: normal;
}

.styleButonTarife {
    background-color: rgb(109, 179, 191);
    text-align: center;
}

.accordionTarife {
    padding-top: 5rem;
}

/* ------------------ CONTACT ---------------------- */

.contactPage {
    /* width: 100vw; */
    min-height: 100vh;
}
.aranjareInPaginaContact {
    max-width: 100vw; 
    min-height: 100vh; 
    padding:5rem;
}
.marimeHarta {
    border: 2px solid black;
    height: 27rem;
    width: 35rem;
}
.formular {
    width: auto;
    height: auto;
}

 
/* --------------------galerie foto----------------------- */

.galeriePhoto {
    width: 100vw;
    min-height: 100vh;
    padding-top:5rem;
}

    /* ---------------------------------- Footer -------------------- */
footer {
    background-color: rgb(21, 54, 65);
    /* padding: 5px; */
    bottom: 0px;
    font-size: 1rem;
    text-align: right;
    width: 100vw;
    height: 3rem;
}
footer a {
    position: relative;
    top: 1rem;
    color: rgb(109, 179, 191);
    padding-right: 2rem;
}

/* -----------ecran mai mic------------------ */
@media screen and (max-width: 991px) {
    .menuHorizontally,
    .program,
    .address,
    .cont,
    .adresa,
    .tel {
        display: none;
    }

    .menuDropdown {
        display: block;
    }

    header {
        height: 9rem;
    }

    .noPadding {
        padding: 5px;
    }
    .aranjareRowServicii {
        padding: 0px;
    }
    .accordionTarife {
        padding-top: 0.2rem;
    }
    .wrapperTarife {
        padding: 0px;
    }

    /* ------- Galerie Photo------------ */
    .galeriePhoto, .ofertePage {
        padding-top: 0px;
    }
    .cardOferte {
        padding: 0.5rem;
    }

    .dimensiuneCard, .dimensiuneImagine{
        height: auto;
    }

    .ofertaMasaj, .ofertaManichiura {
        padding-top: 1rem;
        text-align: center;
    }

    .paddingFacebook, .paddingEmail {
        float: left;
    }

    /* ------ Contact ------ */

    .aranjareInPaginaContact {
        padding: 0px;
        padding-top: 1rem;
    }
    .marimeHarta {
        height: auto;
        width: auto;
    }

    /* .pages-wrapper {
        margin: 0px;
        padding: 0px;
    }
    .wrapperTarife {
        width: 100vw;
    } */
}