body {
    min-height: 600px;
    background-image: url("logo3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px;
}

header {
    display: block;
    /* position: fixed; */
    height: 8rem;
    width: 100vw;
    padding: 1rem;

    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
}
.logoImg {
    position: relative;
    top: -50px;
}

.color-text {
    color: white;
}

#oferte,
#servicii,
#galerie,
#tarife,
#contact,
#despreNoi {
    display: none;
}

    /* ----------------------- MENIU ORIZONTAL ------------------- */
.menuHorizontally {
    position: relative;
    top: -90px;
    border: 1px solid rgb(21, 54, 65);
}
.menuHorizontally,
 .menuHorizontally a,
  .dropdown-menu a,
  .dropdown-menu,
  .buttonDropdown,
  .tarifeDropdown {
    background: rgb(209, 209, 209); 
    /* color: rgb(65, 23, 51); */
    /* color: rgb(44, 62, 80); */
    /* color: rgb(41, 128, 185); */
    color: rgb(130 , 0, 115);
    border-radius: 5px;
}


.menuHorizontally a:hover,
.dropdown-menu a:hover, 
.tarifeDropdown:hover {
    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
    color: white;
}

    /* ------------------- MENIU DROPDOWN ------------------ */
.menuDropdown {
    display: none;
    float: right;
    position: relative;
    top: 4rem;
}

/* --------------- CONTACT facebook + mali------------------------ */

.facebook {
    color: white;
}

.paddingFacebook {
    padding-right: 0.5rem;
}

.adres {
    color: white;
}

.nrTelephone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


    /* ------------------ ACASA -------------------------- */
.coverAcasa {
    display: table;
    width: 100vw;
    height: 100vh;
}
.profil-card {
    position: relative;
    top: -50px;
    width: 100vw;



    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    /* color: rgb(21, 54, 65); */
    color: black;
    font-size: 2rem;
    text-align: center;
}
.wrapperAcasa {
    height: 100vh;
    width: 100vw;

    background-image: url('cover2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

    display: flex;
}

/* ------------------------ OFERTE -------------------------------------- */

.cardOferte{
    padding-bottom: 2rem;
}
.ofertePage   {
    min-height: 100vh;
    width: 100vw;
    padding-top: 5rem;
}
.dimensiuneCard {
    height: 20rem;
}
.dimensiuneImagine {
    height: 20rem;
}
.ofertaMasaj, .ofertaManichiura {
    padding-top: 5rem;
    text-align: center;
}



    /* --------------------------- SERVICII ---------------------- */

.wrapperServicii {
    min-height: 100vh;
    width: 100vw;
    /* padding-left: 10rem;
    padding-right: 10rem; */
    padding-top: 3rem;
}


.wrapperServicii .row {
    padding-top: 2rem; 
}
/* ---------- Servicii rotate ------------ */

.flip3D{ 
    width:280px; 
    height:240px; 
    float:left; 
    padding-left: 3rem;
}
.flip3D > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
    width:280px; 
    height:240px; 
    /* border: 0.2rem solid rgb(33, 14, 33); */
    /* border: 0.2rem solid rgb(44,62,80); */
    background-origin: 0.3rem solid rgb(41,128,185);
    border-radius: 7px;
	backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3D > .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
    background: rgb(209, 209, 209); 
    width: 280px; 
    height:240px; 
    /* border: 0.2rem solid rgb(33, 14, 33); */
    /* border: 0.2rem solid rgb(44,62,80); */
    /* border: 0.2rem solid rgb(41, 128, 185); */
    border: 0.2rem solid rgb(130 , 0, 115);
    border-radius: 7px;
	backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

    /* ----------------- TARIFE -------------------- */

.wrapperTarife {
    min-height: 100vh;
    width: 100vw;
    padding-left: 10rem; 
    padding-right: 10rem;
}

.butonTarifeColor {
    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
    color: white;
}

.butonTarifeColor:hover {
    text-decoration-line: none;
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.listaTarife {
    background: rgb(209, 209, 209); 
    /* background: transparent; */
    /* color: rgb(21, 54, 65); */
    /* color: rgb(44, 62, 80); */
    /* color: rgb(41, 128, 185); */
    color: rgb(130 , 0, 115);
    font-weight: normal;
}

.styleButonTarife {
    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
    text-align: center;
}

.accordionTarife {
    padding-top: 5rem;
    opacity: 0.9;
}

.listaTarife .table tr:hover {
    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
    color: white;
}

/* ------------------ CONTACT ---------------------- */

.contactPage {
    /* width: 100vw; */
    min-height: 100vh;
}
.aranjareInPaginaContact {
    max-width: 90vw; 
    min-height: 100vh; 
    padding:5rem;
}
.marimeHarta, .contact{
    border: 2px solid rgb(21, 54, 65);
    height: 27rem;
    width: 28rem;
}

.contact {
    background: rgb(209, 209, 209); 
    /* color: rgb(21,54,65); */
    /* color: rgb(41, 128, 185); */
    color: rgb(130 , 0, 115);
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.contact h2, .contact h3 {
    /* color:rgb(65, 23, 51); */
    /* color: rgb(44, 62, 80); */
    /* color: rgb(41, 128, 185); */
    color: rgb(130 , 0, 115);
}

.contact p, .contact h2{
    padding-top: 2rem;
}

.facebookPaginaContact {
    color: blue;
}

.fontNameSalon {
    /* font-size: 3rem; */
    /* font-family: 'Great Vibes', cursive; */
    /* font-size: 2.5rem;
    font-family: 'Marck Script', cursive; */
    font-size: 2.5rem;
    font-family: 'Parisienne', cursive;
    /* font-size: 2.5rem;
    font-family: 'Yellowtail', cursive; */
    /* font-size: 2.5rem;
    font-family: 'Bad Script', cursive; */
    /* font-size: 2.5rem; */
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Alex Brush', cursive; */
    /* font-size: 2rem;
    font-family: 'Fredericka the Great', cursive; */
    /* font-size: 2.5rem; */
    /* font-family: 'Mr Dafoe', cursive; */
    /* font-family: 'Grand Hotel', cursive; */


}

 
/* --------------------galerie foto----------------------- */

.galeriePhoto {
    width: 100vw;
    min-height: 100vh;
    padding-top:5rem;
}

    /* ---------------------------------- Footer -------------------- */
footer {
    /* background-color: rgb(65, 23, 51); */
    /* background-color: rgb(44, 62, 80); */
    /* background-color: rgb(41, 128, 185); */
    background-color: rgb(130 , 0, 115);
    bottom: 0px;
    font-size: 1rem;
    text-align: right;
    width: 100vw;
    height: 3rem;
}
footer a {
    position: relative;
    top: 1rem;
    color: white;
    padding-right: 2rem;
}

/* -----------ecran mai mic------------------ */
@media screen and (max-width: 991px) {
    .menuHorizontally,
    .program,
    .address,
    .cont,
    .adresa,
    .tel {
        display: none;
    }

    body {
        background: none;
    }
    .menuDropdown {
        display: block;
    }

    header {
        height: 9rem;
    }

    .noPadding {
        padding: 5px;
    }
    .aranjareRowServicii {
        padding: 0px;
    }
    .accordionTarife {
        padding-top: 0.2rem;
    }
    .wrapperTarife {
        padding: 0px;
    }

    /* ------- Galerie Photo------------ */
    .galeriePhoto, .ofertePage {
        padding-top: 0px;
    }
    .cardOferte {
        padding: 0.5rem;
    }

    .dimensiuneCard, .dimensiuneImagine{
        height: auto;
    }

    .ofertaMasaj, .ofertaManichiura {
        padding-top: 1rem;
        text-align: center;
    }

    .paddingFacebook {
        position: relative;
        top: -130px;
        float: right;
        left: 2rem;
    }
    .nrTelephone {
        position: relative;
        top: -90px;
        left: 2rem;
    }

    /* ------ Contact ------ */

    .aranjareInPaginaContact {
        padding: 0px;
        padding-top: 1rem;
    }
    .marimeHarta {
        width: 80vw;
        height: auto;
    }
    .harta {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .wrapperServicii {
        padding-left: 4rem;
        /* padding-right: 0.5rem; */
        padding-top: 0rem;
    }

    .wrapperServicii {
        padding: 0px;
    }
    .row .flip3D {
        margin-top: 2rem;
    }
    .flip3D {
        padding-left: 1rem;
    }

}