/* --------------- CONTACT facebook ------------------------ */

.facebook {
    color: white;
}
.facebook:hover {
    color: rgb(59, 89, 152);
}

.paddingFacebook {
    padding-right: 0.5rem;
}

.adres {
    color: white;
}
.nrTelephone:hover {
    text-decoration-line: none;
    color: rgb(59, 89, 152);
}

.nrTelephone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logoImg {
    position: relative;
    top: -50px;
}
.color-text {
    color: white;
}

/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .paddingFacebook {
        position: relative;
        top: -130px;
        float: right;
        left: 2rem;
    }
    .nrTelephone {
        position: relative;
        top: -90px;
        left: 3rem;
    }
}