.fontFacebook, .color-text {
    color: white;
}
.fontFacebook:hover {
    color: rgb(218, 107, 233);
}

.paddingFacebook {
    padding-right: 0.5rem;
}

.nrTelephone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fontAdres {
    font-size: 1.25rem;
}

.fontTelefon:hover,
.fontAdres:hover {
    text-decoration-line: none;
    color: rgb(218, 107, 233);
}

.logoImg {
    position: relative;
    top: -50px;
}


/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .paddingFacebook {
        position: relative;
        top: -130px;
        float: right;
        left: 2rem;
    }
    .nrTelephone {
        position: relative;
        top: -90px;
        left: 3rem;
    }
}