    footer {
        background-color: rgb(130 , 0, 115);
        bottom: 0px;
        font-size: 1rem;
        text-align: right;
        width: 100vw;
        height: 2rem;
    }
    footer div {
        padding-top: 0.25rem;
        padding-right: 2rem;
    }
    footer div span, footer div i {
        font-size: 0.75rem;
    }

    footer div span a {
        color: #212529;
    }

    footer div span a:hover {
        color: #ffffff;
        text-decoration: none;
    }  