    footer {
        background-color: rgb(130 , 0, 115);
        bottom: 0px;
        font-size: 1rem;
        text-align: right;
        width: 100vw;
        height: 3rem;
    }
    footer a {
        position: relative;
        top: 1rem;
        color: white;
        padding-right: 2rem;
    }