/* --------------------galerie foto----------------------- */

.galeriePhoto {
    width: 100vw;
    min-height: 100vh;
    padding-top:5rem;
}
.spatiuIntrePoze {
    padding: 2rem;
}

.galleryMobil {
    display: none;
}

@media screen and (max-width: 991px) {
    .galleryDesktop {
        display: none;
    }
    
    .galleryMobil {
        display: block;
    }
}