.galeriePhoto {
    width: 100vw;
    min-height: 100vh;
    padding-top:5rem;
}

.galleryMobil {
    display: none;
}

/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .galleryDesktop {
        display: none;
    }
    
    .galleryMobil {
        display: block;
    }
    .galeriePhoto {
        padding-top: 1rem;
    }
}