body {
    min-height: 600px;
    background-image: url("../pictures/logo/logo2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px;
}

header {
    display: block;
    height: 8rem;
    width: 100vw;
    padding: 1rem;
    background-color: rgb(130 , 0, 115);

    padding-right: 0px;
}

.aliniatDreapta {
    padding-right: 0px;
}

#oferte,
#servicii,
#galerie,
#tarife,
#contact,
#despreNoi {
    display: none;
}

.program ul {
    list-style-type: none;
}


/* ------------------- MENIU DROPDOWN ------------------ */
.menuDropdown {
    display: none;
    float: right;
    position: relative;
    top: 4rem;
}

/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .menuHorizontally,
    .program,
    .address,
    .cont,
    .adresa,
    .tel {
        display: none;
    }

    body {
        background: none;
    }
    header {
        height: 9rem;
    }
}