/* ------------------------ OFERTE -------------------------------------- */

.cardOferte{
    padding: 2rem;
}
.ofertePage   {
    min-height: 100vh;
    width: 100vw;
    padding-top: 5rem;
}
.dimensiuneCard {
    height: 20rem;
    box-shadow: 10px 10px 10px grey;
    color: rgb(130 , 0, 115);
}
.dimensiuneImagine {
    height: 19.9rem;
}
.ofertaMasaj, .ofertaManichiura {
    padding-top: 5rem;
    text-align: center;
}

/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .ofertePage {
        padding-top: 0px;
    }
    .cardOferte {
        padding: 0.5rem;
    }

    .dimensiuneCard, .dimensiuneImagine{
        height: auto;
    }

    .ofertaMasaj, .ofertaManichiura {
        padding-top: 1rem;
        text-align: center;
    }
    .dimensiuneCard {
        box-shadow: none;
    }
}