.wrapperServicii {
    min-height: 100vh;
    width: 100vw;
    padding-top: 3rem;
}
        
.wrapperServicii .row {
    padding-top: 2rem; 
}


    /* ---------- Servicii rotate ------------ */
    
.flip3D { 
    width:300px; 
    height:260px; 
    float:left; 
    margin-left: 2rem;
}

.flip3D > .front{
    position:absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    width:300px; 
    height:260px; 
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    box-shadow: 20px 20px 25px grey;

}
.flip3D > .back{
    position:absolute;
    transform: perspective( 600px ) rotateY( 90deg );
    background: rgb(209, 209, 209); 
    width: 300px; 
    height:260px; 
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    box-shadow: 20px 20px 25px grey;

    font-size: 1rem;
    font-family: Papyrus , cursive;
    text-align: center;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.numeServiciu {
    position: absolute;
    top: 0px;
    height: 100%;
    text-align: center;
    left: 0.5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.numeServiciu2 {
    position: absolute;
    top: 0px;
    height: 100%;
    text-align: center;
    right: 0.5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
}



.flip3D:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
}

.aranjareTextGene, 
.aranjareTextManichiura,
.aranjareTextTratament,
.aranjareTextEpilat,
.aranjareTextMachiaj {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
}

/* ---- telefon/tableta ----- */

@media screen and (max-width: 320px) {

    .wrapperServicii, .aranjareRowServicii, .wrapperServicii .row {
        padding: 0px;
    }
    .wrapperServicii {
        padding-bottom: 1rem;
    }

    .col-sm-10 {
        padding: 0px;
    }
    .row {
        margin: 0px;
    }
    
    .row .flip3D {
        margin-top: 2rem;
    }

    .flip3D {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .flip3D > .front , .flip3D > .back{
        box-shadow: none;
        transition: none;
    }

    .aranjareTextGene, 
    .aranjareTextManichiura,
    .aranjareTextTratament,
    .aranjareTextEpilat,
    .aranjareTextMachiaj {
        padding-top: 0.5rem;
    }
}


@media screen and (max-width: 991px) and (min-width: 321px) {
    
    .wrapperServicii, .aranjareRowServicii, .wrapperServicii .row {
        padding: 0px;
    }

    .col-sm-10 {
        padding: 0px;
    }
    .row {
        margin: 0px;
    }
    
    .row .flip3D {
        margin: 1rem;
        /* margin-top: 1rem;
        margin-bottom: 1rem; */
    }
    .flip3D > .front{
        box-shadow: none;
        transition:none;
    }

    .flip3D >.back {
        transition: none;
    }
    .aranjareTextGene, 
    .aranjareTextManichiura,
    .aranjareTextTratament,
    .aranjareTextEpilat,
    .aranjareTextMachiaj {
        padding-top: 0.5rem;
    }

    

    .wrapperServicii .row {
        display: inline;
    }

    .wrapperServicii .row .col-md-6 {
        float: left;
        width: 330px;
    }
}


