.wrapperTarife {
    min-height: 100vh;
    width: 100vw;
    padding-left: 10rem; 
    padding-right: 10rem;
}
    
.butonTarifeColor {
    background-color: rgb(130 , 0, 115);
    color: white;
}
    
.butonTarifeColor:hover {
    text-decoration-line: none;
    color: rgb(170, 170, 170);
    font-weight: bold;
}
    
.listaTarife {
    background: rgb(209, 209, 209); 
    color: rgb(130 , 0, 115);
    font-weight: normal;
}
    
.styleButonTarife {
    background-color: rgb(130 , 0, 115);
    text-align: center;
}
    
.accordionTarife {
    padding-top: 5rem;
    opacity: 0.9;
}
    
.listaTarife .table tr:hover {
    background-color: rgb(130 , 0, 115);
    color: white;
}
    
.table td, .table th {
    border: 0px;
}
.butonTarifeColor .card-header {
    background-color: rgb(130 , 0, 115);
}

.aranjarePreturi {
    text-align: right;
    width: 70px;
}
/* ---- telefon/tableta ----- */

@media screen and (max-width: 991px) {
    .accordionTarife {
        padding-top: 0.2rem;
    }
    .wrapperTarife {
        padding: 0px;
    }
}